# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Database files
*.db
*.log

# Environment files
*.env
.env

# Virtual environment folder
venv/

# AWS SAM deployment artifacts
.aws-sam/

# Other common temporary files
*.zip
*.tar.gz
*.tgz

# Git folder
.git/

# AWS SAM CLI managed files (bucket and temporary files)
aws-sam-cli-managed-default-samclisourcebucket-*
